<% @person.each do |person| %>
<h1><%= person.first_name %></h1>
<h2><%= person.last_name %></h2>
<h2><%= person.middle_name %></h2>
<h2><%= person.phone_number %></h2>
<h2><%= person.email %></h2>
<h2><%= person.bio %></h2>
<% end %>